JobMe-Homepage/JobMe-Homepage/Connected Services/JobApplicationServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobApplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IJobApplicationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobApplicationService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_GetAllByApplierId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByApplierId" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_GetAllByApplierId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByApplierIdResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_SendApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:SendApplication" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_SendApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_GetAllJobApplicationToAJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobApplicationToAJobPost" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_GetAllJobApplicationToAJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobApplicationToAJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_AcceptDeclineJobApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptDeclineJobApplication" />
  </wsdl:message>
  <wsdl:message name="IJobApplicationService_AcceptDeclineJobApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptDeclineJobApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobApplicationService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/Create" message="tns:IJobApplicationService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/CreateResponse" message="tns:IJobApplicationService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/Delete" message="tns:IJobApplicationService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/DeleteResponse" message="tns:IJobApplicationService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/Get" message="tns:IJobApplicationService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/GetResponse" message="tns:IJobApplicationService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByApplierId">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/GetAllByApplierId" message="tns:IJobApplicationService_GetAllByApplierId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/GetAllByApplierIdResponse" message="tns:IJobApplicationService_GetAllByApplierId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/Update" message="tns:IJobApplicationService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/UpdateResponse" message="tns:IJobApplicationService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/SendApplication" message="tns:IJobApplicationService_SendApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/SendApplicationResponse" message="tns:IJobApplicationService_SendApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobApplicationToAJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/GetAllJobApplicationToAJobPost" message="tns:IJobApplicationService_GetAllJobApplicationToAJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/GetAllJobApplicationToAJobPostResponse" message="tns:IJobApplicationService_GetAllJobApplicationToAJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptDeclineJobApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobApplicationService/AcceptDeclineJobApplication" message="tns:IJobApplicationService_AcceptDeclineJobApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobApplicationService/AcceptDeclineJobApplicationResponse" message="tns:IJobApplicationService_AcceptDeclineJobApplication_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IJobApplicationService" type="tns:IJobApplicationService">
    <wsp:PolicyReference URI="#WSHttpBinding_IJobApplicationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/IJobApplicationService/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IJobApplicationService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/IJobApplicationService/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByApplierId">
      <soap12:operation soapAction="http://tempuri.org/IJobApplicationService/GetAllByApplierId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IJobApplicationService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendApplication">
      <soap12:operation soapAction="http://tempuri.org/IJobApplicationService/SendApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobApplicationToAJobPost">
      <soap12:operation soapAction="http://tempuri.org/IJobApplicationService/GetAllJobApplicationToAJobPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptDeclineJobApplication">
      <soap12:operation soapAction="http://tempuri.org/IJobApplicationService/AcceptDeclineJobApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobApplicationService">
    <wsdl:port name="WSHttpBinding_IJobApplicationService" binding="tns:WSHttpBinding_IJobApplicationService">
      <soap12:address location="https://localhost:8714/JobApplicationServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:8714/JobApplicationServer</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>