JobMe-Homepage/JobMe-Homepage/Connected Services/CompanyServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICompanyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyService_CreateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobPost" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobPost" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobPost" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobPost" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetJobPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobPost" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetJobPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobPostResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateJobCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobCategory" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateJobCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateJobCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteJobCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobCategory" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteJobCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetJobCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCategory" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetJobCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllJobCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobCategories" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllJobCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllJobCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateJobCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobCategory" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateJobCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJobCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateWorkHours_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkHours" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateWorkHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkHoursResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteWorkHours_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkHours" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteWorkHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkHoursResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetWorkHours_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkHours" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetWorkHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkHoursResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetlAllWorkHours_InputMessage">
    <wsdl:part name="parameters" element="tns:GetlAllWorkHours" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetlAllWorkHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetlAllWorkHoursResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateWorkHours_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkHours" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateWorkHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkHoursResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyService">
    <wsdl:operation name="CreateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CreateCompany" message="tns:ICompanyService_CreateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CreateCompanyResponse" message="tns:ICompanyService_CreateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/DeleteCompany" message="tns:ICompanyService_DeleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/DeleteCompanyResponse" message="tns:ICompanyService_DeleteCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompany" message="tns:ICompanyService_GetCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyResponse" message="tns:ICompanyService_GetCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAllCompany" message="tns:ICompanyService_GetAllCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAllCompanyResponse" message="tns:ICompanyService_GetAllCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/UpdateCompany" message="tns:ICompanyService_UpdateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/UpdateCompanyResponse" message="tns:ICompanyService_UpdateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/Login" message="tns:ICompanyService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/LoginResponse" message="tns:ICompanyService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CreateJobPost" message="tns:ICompanyService_CreateJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CreateJobPostResponse" message="tns:ICompanyService_CreateJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/DeleteJobPost" message="tns:ICompanyService_DeleteJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/DeleteJobPostResponse" message="tns:ICompanyService_DeleteJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAllJobPost" message="tns:ICompanyService_GetAllJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAllJobPostResponse" message="tns:ICompanyService_GetAllJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/UpdateJobPost" message="tns:ICompanyService_UpdateJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/UpdateJobPostResponse" message="tns:ICompanyService_UpdateJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobPost">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetJobPost" message="tns:ICompanyService_GetJobPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetJobPostResponse" message="tns:ICompanyService_GetJobPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateJobCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CreateJobCategory" message="tns:ICompanyService_CreateJobCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CreateJobCategoryResponse" message="tns:ICompanyService_CreateJobCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJobCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/DeleteJobCategory" message="tns:ICompanyService_DeleteJobCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/DeleteJobCategoryResponse" message="tns:ICompanyService_DeleteJobCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetJobCategory" message="tns:ICompanyService_GetJobCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetJobCategoryResponse" message="tns:ICompanyService_GetJobCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllJobCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAllJobCategories" message="tns:ICompanyService_GetAllJobCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAllJobCategoriesResponse" message="tns:ICompanyService_GetAllJobCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJobCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/UpdateJobCategory" message="tns:ICompanyService_UpdateJobCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/UpdateJobCategoryResponse" message="tns:ICompanyService_UpdateJobCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateWorkHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CreateWorkHours" message="tns:ICompanyService_CreateWorkHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CreateWorkHoursResponse" message="tns:ICompanyService_CreateWorkHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/DeleteWorkHours" message="tns:ICompanyService_DeleteWorkHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/DeleteWorkHoursResponse" message="tns:ICompanyService_DeleteWorkHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetWorkHours" message="tns:ICompanyService_GetWorkHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetWorkHoursResponse" message="tns:ICompanyService_GetWorkHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetlAllWorkHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetlAllWorkHours" message="tns:ICompanyService_GetlAllWorkHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetlAllWorkHoursResponse" message="tns:ICompanyService_GetlAllWorkHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkHours">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/UpdateWorkHours" message="tns:ICompanyService_UpdateWorkHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/UpdateWorkHoursResponse" message="tns:ICompanyService_UpdateWorkHours_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICompanyService" type="tns:ICompanyService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICompanyService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CreateCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/DeleteCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetAllCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/UpdateCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJobPost">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CreateJobPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJobPost">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/DeleteJobPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobPost">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetAllJobPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobPost">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/UpdateJobPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobPost">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetJobPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateJobCategory">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CreateJobCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJobCategory">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/DeleteJobCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobCategory">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetJobCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllJobCategories">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetAllJobCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJobCategory">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/UpdateJobCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWorkHours">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CreateWorkHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkHours">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/DeleteWorkHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkHours">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetWorkHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetlAllWorkHours">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetlAllWorkHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkHours">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/UpdateWorkHours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyService">
    <wsdl:port name="WSHttpBinding_ICompanyService" binding="tns:WSHttpBinding_ICompanyService">
      <soap12:address location="https://localhost:8710/CompanyService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:8710/CompanyService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>