JobMe-Homepage/JobMe-Homepage/Connected Services/CompanyServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ICompanyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyService_CreateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_CreateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetAllCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyService">
    <wsdl:operation name="CreateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/CreateCompany" message="tns:ICompanyService_CreateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/CreateCompanyResponse" message="tns:ICompanyService_CreateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/DeleteCompany" message="tns:ICompanyService_DeleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/DeleteCompanyResponse" message="tns:ICompanyService_DeleteCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompany" message="tns:ICompanyService_GetCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyResponse" message="tns:ICompanyService_GetCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetAllCompany" message="tns:ICompanyService_GetAllCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetAllCompanyResponse" message="tns:ICompanyService_GetAllCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/UpdateCompany" message="tns:ICompanyService_UpdateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/UpdateCompanyResponse" message="tns:ICompanyService_UpdateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/Login" message="tns:ICompanyService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/LoginResponse" message="tns:ICompanyService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ICompanyService" type="tns:ICompanyService">
    <wsp:PolicyReference URI="#WSHttpBinding_ICompanyService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/CreateCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/DeleteCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/GetAllCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/UpdateCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ICompanyService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyService">
    <wsdl:port name="WSHttpBinding_ICompanyService" binding="tns:WSHttpBinding_ICompanyService">
      <soap12:address location="https://localhost:8710/CompanyService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:8710/CompanyService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>