DekstopApplication/DekstopApplication/Connected Services/ApplierServiceReference/ApplierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApplierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IApplierService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:8711/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:8711/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:8711/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplierService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetAllAppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppliers" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetAllAppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetApplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplier" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetApplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplierResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IApplierService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetApplierTableSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplierTableSize" />
  </wsdl:message>
  <wsdl:message name="IApplierService_GetApplierTableSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplierTableSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IApplierService_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IApplierService_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplierService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/Create" message="tns:IApplierService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/CreateResponse" message="tns:IApplierService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/Delete" message="tns:IApplierService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/DeleteResponse" message="tns:IApplierService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/GetAllAppliers" message="tns:IApplierService_GetAllAppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/GetAllAppliersResponse" message="tns:IApplierService_GetAllAppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/GetApplier" message="tns:IApplierService_GetApplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/GetApplierResponse" message="tns:IApplierService_GetApplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/Update" message="tns:IApplierService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/UpdateResponse" message="tns:IApplierService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/Login" message="tns:IApplierService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/LoginResponse" message="tns:IApplierService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplierTableSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/GetApplierTableSize" message="tns:IApplierService_GetApplierTableSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/GetApplierTableSizeResponse" message="tns:IApplierService_GetApplierTableSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplierService/UpdatePassword" message="tns:IApplierService_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplierService/UpdatePasswordResponse" message="tns:IApplierService_UpdatePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IApplierService" type="tns:IApplierService">
    <wsp:PolicyReference URI="#WSHttpBinding_IApplierService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/IApplierService/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IApplierService/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppliers">
      <soap12:operation soapAction="http://tempuri.org/IApplierService/GetAllAppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplier">
      <soap12:operation soapAction="http://tempuri.org/IApplierService/GetApplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IApplierService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IApplierService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplierTableSize">
      <soap12:operation soapAction="http://tempuri.org/IApplierService/GetApplierTableSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://tempuri.org/IApplierService/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplierService">
    <wsdl:port name="WSHttpBinding_IApplierService" binding="tns:WSHttpBinding_IApplierService">
      <soap12:address location="https://localhost:8711/ApplierService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:8711/ApplierService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>